<form id="avatar_form">
	<input type="hidden" name="formid" value="avatar_form">
	<label class="align-content-center d-flex justify-content-center position-relative rounded-circle">
		<input type="file" class="d-none" name="newfile">
		<button class="btn btn-sm change_avatar text-bg-secondary">
			<svg class="bi feather feather-user">
				<use href="#changeavatar"></use>
			</svg>
			
		</button>
		<img class="rounded-circle img-thumbnail" src="/img/sticker.png">
	</label>
</form>
<hr>
<ul class="nav nav-pills flex-column mb-auto ">
	<li class="nav-item"><a class="nav-link active" href="profile.html">Profile</a></li>
	<li class="nav-item"><a class="nav-link " href="create_post.html">Create post</a></li>
	<li class="nav-item"><a class="nav-link " href="user_posts.html">Your posts</a></li>
</ul>