@import "bootstrap/scss/bootstrap";
@import "_vars";
.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}
:root {
    --bs-body-font-size: 16px;
}
body {
    main {
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .btn {
        padding: 0.55rem 0.85rem;
        font-size: 0.875rem;
        border-radius: 0.175rem;
    }
}
.filter_color_label {
    border-radius: 100% !important;
    span {
        display: block;
        width: 1.5em;
        height: 1.5em;
    }
}
.quantity{
    input{
        max-width:80px;
    }
    button{

    }
}
