@import "bootstrap/scss/bootstrap";
@import "_vars";
.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}
:root{

	--bs-body-font-size: $fontsize;
}
body {
	main{
		margin: 0 auto;
	}
	.main_app {
		margin-top: 100px;
	}
	.one_post_edit {
		left:40px;
		top:20px;
	}
	.change_avatar{
		position: absolute;
		left:10px;
		top:10px;
	}

}

